<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/SanzClima/recruitment-tests/blob/main/full-stack/README.md">
                        Sanz Clima Prueba Reclutamiento
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made for test
            <a href="https://sanzclima.com/index_en.html" target="_blank">Sanz Clima</a> for a better web.
        </div>
    </div>
</footer>
